# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env*.local
.env.production


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# System Files
.DS_Store
Thumbs.db

# Debug
.debug/
debug.log

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Yarn Integrity file
.yarn-integrity

# Vite
.vite/
.vercel
